

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  font-weight: 300;
  color: #999;
}

p {
  font-size: 1.2em;
}
p.negative {
  color: #EEE;
}

.splogo {
  width: 20%;
}

.big-number {
  font-weight: 900;
  font-size: 12em;
  color: #000;
  text-align: right;
}
.big-number.negative {
  color: #FFF;
}

.section-title {
  color: #000;
  font-size: 3em;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 40px;
}
.section-title.negative {
  color: #FFF;
}

.vitrine-thumbnail {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.header-text {
  text-shadow: -2px -2px 1px #fff, 2px -2px 1px #fff, -2px 2px 1px #fff, 2px 2px 1px #fff
}

/* Splash image */

.splash-image{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -60px;
  margin-left: -120px;
}
.splash-image img{
  opacity: 0.6;
}


/* Splash letters */

*, *:before, *:after{
  box-sizing:border-box;
}
div.splash-title{
  margin: 0 auto;
  margin-left: -10px;
  text-align: left;
  font-weight: 900
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 8em;
  margin: 0.02em;
  line-height: 1.0em;
  position: relative;

  color: #184660;

/* 
  color: transparent;
  background: url("../img/fuller_crop_a.jpg") repeat;
  -webkit-background-size: cover;
  -webkit-background-clip: text;
*/

  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
@media (max-width: 1000px) {
  .letter{
    font-size: 6em;
  }
}

.letter.variant_a{
  color: #184660;
}
.letter.variant_b{
  color: #5f8741;
}
.letter.variant_c{
  color: #0e3b52;
}
.letter.variant_d{
  color: #426c54;
}
.letter.variant_e{
  color: #374e5c;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}


/* Spacers */
.spacer-post-splash {
  height: 100px;
}


/* Parts */
.transition-to-part1 {
  margin-left: -15px;
  margin-right: -15px;
}
.part1 {
  background-color: #000;
}
.transition-to-part2 {
  margin-top: 300px;
  margin-left: -15px;
  margin-right: -15px;
}
.part2 {
  background-color: #000;
}
.transition-to-part3 {
  margin-top: 200px;
  margin-left: -15px;
  margin-right: -15px;
}
.part3 {
  background-color: #000;
}


/* Info points */
.infopoint-container {
  font-size: 1.2em;
  font-weight: 300;
  -webkit-transition-property: opacity;
     -moz-transition-property: opacity;
       -o-transition-property: opacity;
          transition-property: opacity;
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in;
     -moz-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.infopoint-container.past{
  opacity: 0.5;
}
.infopoint-container.present{
  opacity: 1;
}
.infopoint-container.future{
  opacity: 1;
}
.infopoint-container h3 {
  font-size:  1.6em;
}
.infopoint-content {
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-transition-property: max-height;
     -moz-transition-property: max-height;
       -o-transition-property: max-height;
          transition-property: max-height;
  -webkit-transition-duration: .6s;
     -moz-transition-duration: .6s;
       -o-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease-in;
     -moz-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}
.infopoint-container.past .infopoint-content{
  max-height: 300px;
}
.infopoint-container.present .infopoint-content{
  max-height: 300px;
}
.infopoint-container.future .infopoint-content{
  max-height: 0;
}

/* footer */
footer {
  color: #FFF;
  background-color: #000;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
  text-align: center;
  padding: 15px;
  padding-bottom: 500px;
}
footer a{
  color: #FFF;
}