<table>
  <tr>
    <td>
      <img style="max-width: 120px" src="img/zoom_fleches.jpg"/>
      <br>
      <br>
    </td>
    <td>
      <p style="margin-left: 20px;">
        Dans la carte, les flèches fusionnent à proximité de leur destination
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <img style="max-width: 120px" src="img/zoom_halo.jpg"/>
    </td>
    <td>
      <p style="margin-left: 20px;">
        Dans le réseau, un halo permet de savoir quels sont les liens qui sont réellement connectés au pays.
      </p>
    </td>
  </tr>
</table>
