<!-- <navbar/> -->

<div class="container-fluid">
  
  <div class="row">

    <div class="col-md-4 col-sm-6">
      <div class="splash-image">
        <img src="img/blacknet.jpg"/>
      </div>
    </div>
    <div class="col-md-8 col-sm-6">
      <div class="page-header">

        <div class="splash-title">
          <span class="letter variant_a" data-letter="D">D</span>
          <span class="letter variant_b" data-letter="O">O</span>
          <span class="letter variant_c" data-letter="U">U</span>
          <span class="letter variant_d" data-letter="B">B</span>
          <span class="letter variant_e" data-letter="L">L</span>
          <span class="letter variant_a" data-letter="E">E</span>
          <br>
          <span class="letter variant_b" data-letter="D">D</span>
          <span class="letter variant_c" data-letter="A">A</span>
          <span class="letter variant_d" data-letter="T">T</span>
          <span class="letter variant_e" data-letter="I">I</span>
          <span class="letter variant_a" data-letter="N">N</span>
          <span class="letter variant_b" data-letter="G">G</span>
          <br>
          <span class="letter variant_c" data-letter="D">D</span>
          <span class="letter variant_d" data-letter="A">A</span>
          <span class="letter variant_e" data-letter="T">T</span>
          <span class="letter variant_a" data-letter="A">A</span>
        </div>
        
      </div>

      <div>
        <h1>
          Textes de l'exposition
          <br>
          <small>
            Octobre 2015
          </small>
        </h1>
        <br>
        <img src="img/SCIENCES PO_logo_RGB.png" class="splogo"/>
      </div>
    </div>

  </div>

</div>

<div class="container-fluid">
  <div class="spacer-post-splash"></div>
</div>

<div class="container-fluid transition-to-part1">
</div>

<div class="container-fluid part1">

  <div class="row">
    <div class="col-md-12">

      <h2>Content...</h2>

    </div>
  </div>

  <footer>
    
  </footer>
</div> <!-- /container -->