<!-- <navbar/> -->

<div class="container-fluid">
  
  <div class="row">

    <div class="col-md-4 col-sm-3">
      <div class="splash-image">
        <img src="img/blacknet.jpg"/>
      </div>
    </div>
    <div class="col-md-8 col-sm-9">
      <div class="page-header">

        <div class="splash-title">
          <span class="letter variant_a" data-letter="D">D</span>
          <span class="letter variant_b" data-letter="O">O</span>
          <span class="letter variant_c" data-letter="U">U</span>
          <span class="letter variant_d" data-letter="B">B</span>
          <span class="letter variant_e" data-letter="L">L</span>
          <span class="letter variant_a" data-letter="E">E</span>
          <br>
          <span class="letter variant_b" data-letter="D">D</span>
          <span class="letter variant_c" data-letter="A">A</span>
          <span class="letter variant_d" data-letter="T">T</span>
          <span class="letter variant_e" data-letter="I">I</span>
          <span class="letter variant_a" data-letter="N">N</span>
          <span class="letter variant_b" data-letter="G">G</span>
          <br>
          <span class="letter variant_c" data-letter="D">D</span>
          <span class="letter variant_d" data-letter="A">A</span>
          <span class="letter variant_e" data-letter="T">T</span>
          <span class="letter variant_a" data-letter="A">A</span>
        </div>
        
      </div>

      <div class="header-text">
        <h1>
          Textes de l'exposition
          <br>
          <small>
            Octobre 2015
          </small>
        </h1>
        <br>
        <img src="img/SCIENCES PO_logo_RGB.png" class="splogo"/>
        <br>
        <br>
        <br>
        <br>
        <p>
          Les images du médialab et de l'atelier de cartographie se rencontrent et dialoguent dans les vitrines de la bibliothèque.
          Retrouvez les textes et téléchargez les images qui vous ont marqué.
        </p>
      </div>
    </div>

  </div>

</div>

<div class="container-fluid">
  <div class="spacer-post-splash"></div>
</div>

<div class="container-fluid transition-to-part1">
  <img src="img/transition-migration.jpg" style="width:100%"/>
</div>

<div class="container-fluid part1">

  <div class="row">
    
    <div class="col-md-4 col-sm-3">
      <div class="big-number negative">1</div>
    </div>

    <div class="col-md-8 col-sm-9">  
      
      <div class="section-title negative">
        Migrants dans le monde en 2013
      </div>

      <div class="row">

        <div class="col-md-3">
          <a href="img/darfurian-refugees-from-sudan-large.jpg" target="_blank">
            <img class="vitrine-thumbnail" src="img/darfurian-refugees-from-sudan-thumbnail.jpg"/>
          </a>
          <p class="negative">
            Darfurians refugees in Eastern Chad
            <br>
            Décembre 2011
            <br>
            ©Frédéric Noy/ UNHCR
          </p>
          <br>
          <br>
        </div>

        <div class="col-md-3">
          <a href="img/migrations-map-large.jpg" target="_blank">
            <img class="vitrine-thumbnail" src="img/migrations-map-thumbnail.jpg"/>
          </a>
          <p class="negative">
            Principaux mouvements migratoires en 2013, carte géographique
            <br>
            FNSP Sciences Po, Atelier de cartographie, 2015
          </p>
          <br>
          <br>
        </div>

        <div class="col-md-3">
          <a href="img/migrations-network-large.jpg" target="_blank">
            <img class="vitrine-thumbnail" src="img/migrations-network-thumbnail.jpg"/>
          </a>
          <p class="negative">
            Principaux mouvements migratoires en 2014, réseau
            <br>
            FNSP Sciences Po, médialab, 2015
          </p>
          <br>
          <br>
        </div>

        <div class="col-md-3">
          <a href="img/migrants-boat-large.jpg" target="_blank">
            <img class="vitrine-thumbnail" src="img/migrants-boat-thumbnail.jpg"/>
          </a>
          <p class="negative">
            A Cry for Those in Peril on the Sea
            <br>
            25 Février 2011
            <br>
            ©UNHCR
          </p>
          <br>
          <br>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="container-fluid">

  <div class="row">
    
    <div class="col-md-4 col-sm-3">
      
    </div>

    <div class="col-lg-6 col-md-8 col-sm-9">

      <infopoint
        title="'Les mêmes données sont regroupées différemment'"
        template="'partials/memes_donnees.html'"
      />

      <infopoint
        title="'Tous les liens ne sont pas affichés'"
        template="'partials/tous_les_liens_ne_sont_pas.html'"
      />
      
      <infopoint
        title="'Le réseau “ignore” les liens géographiques entre pays'"
        template="'partials/le_reseau_ignore.html'"
      />
      
      <infopoint
        title="'Pourtant on retrouve de la géographie dans le réseau'"
        template="'partials/pourtant_on_retrouve.html'"
      />
      
      <infopoint
        title="'Des intrus dans le réseau'"
        template="'partials/des_intrus_dans.html'"
      />
      
      <infopoint
        title="'Le découpage des continents est remis en cause'"
        template="'partials/le_decoupage_des_continents.html'"
      />

      <infopoint
        title="'Avez-vous remarqué la projection géographique spéciale de la carte ?'"
        template="'partials/avez_vous_remarque.html'"
      />
      
      <infopoint
        title="'Le réseau colle à cette projection'"
        template="'partials/le_reseau_colle.html'"
      />
      
      <infopoint
        title="'Effets de style'"
        template="'partials/effets_de_style.html'"
      />

    </div>

  </div>

</div>

<div class="container-fluid transition-to-part2">
  <img src="img/temperatures.jpg" style="width:100%"/>
</div>

<div class="container-fluid part2">

  <div class="row">
    
    <div class="col-md-4 col-sm-3">
      <div class="big-number negative">2</div>
    </div>

    <div class="col-md-8 col-sm-9">  
      
      <div class="section-title negative">
        Les rapports du GIEC sur le changement climatique
      </div>

      <div class="row">

        <div class="col-md-4">
          <a href="img/ipcc-large.jpg" target="_blank">
            <img class="vitrine-thumbnail" src="img/ipcc-thumbnail.jpg"/>
          </a>
          <p class="negative">
            Collaborations internationales dans le GIEC
            <br>
            FNSP Sciences Po, médialab, 2015
          </p>
          <br>
          <br>
        </div>

        <div class="col-md-4">
          <a href="img/experts-ipcc-large.jpg" target="_blank">
            <img class="vitrine-thumbnail" src="img/experts-ipcc-thumbnail.jpg"/>
          </a>
          <p class="negative">
            Origine des experts dans les 5 rapports du GIEC
            <br>
            FNSP Sciences Po, Atelier de cartographie, 2015
          </p>
          <br>
          <br>
        </div>

        <div class="col-md-4">
          <a href="img/politicians-discussing-climate-change-large.jpg" target="_blank">
            <img class="vitrine-thumbnail" src="img/politicians-discussing-climate-change-thumbnail.jpg"/>
          </a>
          <p class="negative">
            Follow the leaders, Berlin, Germany
            <br>
            2011
            <br>
            ©Isaac Cordal
          </p>
          <br>
          <br>
        </div>

      </div>

    </div>
    

  </div>

</div>

<div class="container-fluid">

  <div class="row">
    
    <div class="col-md-4 col-sm-3">
      
    </div>

    <div class="col-lg-6 col-md-8 col-sm-9">

      <infopoint
        title="'Un réseau très dense'"
        template="'partials/un_reseau_tres_dense.html'"
      />

      <infopoint
        title="'L’alliance des petits États insulaires'"
        template="'partials/l_alliance_des_petits.html'"
      />

      <infopoint
        title="'Le réseau est-il géographique ?'"
        template="'partials/le_reseau_est_il_geo.html'"
      />

      <infopoint
        title="'Les pays développés sont plus centraux'"
        template="'partials/les_pays_developpes.html'"
      />

      <infopoint
        title="'Les pays du Nord dominent le GIEC'"
        template="'partials/les_pays_du_nord.html'"
      />

      <infopoint
        title="'Différents continents s’investissent sur différents sujets'"
        template="'partials/differents_continents.html'"
      />


    </div>

  </div>

</div>

<div class="container-fluid transition-to-part3">
  <img src="img/polarbear.jpg" style="width:100%"/>
</div>

<div class="container-fluid part3">

  <div class="row">
    
    <div class="col-md-4 col-sm-3">
      <div class="big-number negative">3</div>
    </div>

    <div class="col-md-8 col-sm-9">  
      
      <div class="section-title negative">
        Le changement climatique sur le web
      </div>

      <div class="row">

        <div class="col-md-4">
          <a href="img/climatechange-web-a-large.jpg" target="_blank">
            <img class="vitrine-thumbnail" src="img/climatechange-web-a-thumbnail.jpg"/>
          </a>
          <p class="negative">
            Le changement climatique est-il anthropique ?
            <br>
            FNSP Sciences Po, médialab &amp; bibliothèque, 2015
          </p>
          <br>
          <br>
        </div>

        <div class="col-md-4">
          <a href="img/climatechange-web-b-large.jpg" target="_blank">
            <img class="vitrine-thumbnail" src="img/climatechange-web-b-thumbnail.jpg"/>
          </a>
          <p class="negative">
            Types d'acteurs
            <br>
            FNSP Sciences Po, médialab &amp; bibliothèque, 2015
          </p>
          <br>
          <br>
        </div>

        <div class="col-md-4">
          <a href="img/climatechange-web-c-large.jpg" target="_blank">
            <img class="vitrine-thumbnail" src="img/climatechange-web-c-thumbnail.jpg"/>
          </a>
          <p class="negative">
            Types d'activités soutenues
            <br>
            FNSP Sciences Po, médialab &amp; bibliothèque, 2015
          </p>
          <br>
          <br>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="container-fluid">

  <div class="row">
    
    <div class="col-md-4 col-sm-3">
      
    </div>

    <div class="col-lg-6 col-md-8 col-sm-9">

      <infopoint
        title="'Trois vues pour un même réseau'"
        template="'partials/trois_vues.html'"
      />
      
      <infopoint
        title="'Un “plat de spaghettis” à lire dans les grandes lignes'"
        template="'partials/un_plat_de_spaghettis.html'"
      />
      
      <infopoint
        title="'Sceptique ou non-sceptique ?'"
        template="'partials/sceptic.html'"
      />
      
      <infopoint
        title="'La présence écrasante des blogueurs'"
        template="'partials/la_presence_ecrasante.html'"
      />
      
      <infopoint
        title="'La parole aux non-experts'"
        template="'partials/la_parole_aux.html'"
      />
      
      <infopoint
        title="'Suivre la discussion sur le web'"
        template="'partials/suivre_la_discussion.html'"
      />
      
      <infopoint
        title="'Deux activismes s’opposent'"
        template="'partials/deux_activismes.html'"
      />
      

    </div>

  </div>

</div>

<div class="container-fluid transition-to-part3">
  <img src="img/nouvel_ours.jpg" style="width:100%"/>
</div>

<div class="container-fluid">

  <footer>
    <a href="legalnotice.html" target="_blank">legal notice</a>
  </footer>

</div> <!-- /container